@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary-color: #6e62e5;
    --secondary-color: #08bcb8; */
    --success-color: #deeae9;
    --danger-color: #e6483d;
    --warning-color: #f79009;
    --accent-color: #0283ca;
    --text-color: #141414;
    --background-color: #f2f3f6;
    --card-bg: #fff;
    --card-secondary-bg: #fff;
    --input-bg: #fff;
  }

  .dark {
    --text-color: #ffffff;
    --background-color: #141414;
    --card-bg: #272727;
    --card-secondary-bg: #3e3e3e;
    --input-bg: #565656;
  }
}

/* custom fonts */
@font-face {
  font-family: "madani_arabic";
  src: url("/fonts/Madani_Arabic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mestika";
  src: url("/fonts/Mestika.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font), sans-serif;
}

a {
  text-decoration: none;
}

[type="tel"] {
  direction: inherit;
}

input:-webkit-autofill:not(:hover):not(:focus):not(:active) {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.dynamic-logo {
  width: auto;
  height: auto;
  min-height: 50px;
  max-height: 80px;
  object-fit: contain;
  &.lg {
    min-height: 80px;
    max-height: 140px;
  }
}

.ant-form-item-label > label {
  font-weight: 500;
  font-size: 14px !important;
  color: var(--text-color);
}

.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-label label.ant-form-item-required::after {
  content: "*" !important;
  visibility: visible !important;
  color: var(--danger-color) !important;
  font-size: 14px !important;
  font-weight: var(--danger-color) !important;
}

.ant-input-prefix {
  margin-inline-end: 0.5rem !important;
}

.ant-select-prefix {
  margin-inline-end: 0.5rem !important;
}

.ant-picker {
  width: 100%;
}

.ant-btn {
  border-radius: 0.5rem !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.ant-btn:not(.min-w-auto):not(.ant-upload-list-item-action) {
  min-width: 90px !important;
}
.ant-btn-color-primary {
  box-shadow: none !important;
}

.ant-modal.successModal {
  width: 600px !important;
  padding: 0 !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.ant-modal.successModal .ant-modal-content {
  padding: 0px !important;
}

.ant-modal.successModal .ant-modal-close {
  display: none !important;
}

.ant-min-h-auto .ant-form-item-control-input {
  min-height: auto !important;
}

/* .dashboard-card .ant-form-item:last-child {
  margin-bottom: 0;
} */

.ant-card .ant-card-head {
  padding-block: 24px !important;
}

.section_header {
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 16px;
  position: relative;
  width: 100%;
}

.dashboard-card.dynamic-fields-card:not(:has(.ant-form-item)):not(
    :has(.ant-empty)
  ) {
  display: none !important;
}

.ant-upload-wrapper {
  border-radius: 8px;
}
.ant-upload-wrapper .ant-upload-drag,
.ant-upload-wrapper .ant-upload-drag .ant-upload-btn {
  border-radius: inherit !important;
}

.ant-menu-item a {
  transition: none !important;
}
.ant-drawer-content-wrapper .ant-menu-light.ant-menu-root.ant-menu-inline {
  border: none !important;
}

a,
button {
  text-underline-offset: 6px;
}

@layer components {
  .card {
    @apply m-auto w-full max-w-4xl bg-slate-100 rounded-2xl bg-white dark:bg-[var(--card-bg)] pb-5 pt-10 px-5 md:px-10;
  }

  .dashboard-card {
    @apply rounded-2xl p-6 flex flex-col gap-y-8 w-full bg-white relative;
  }
}

.auth-layout {
  .card {
    background-color: transparent;
  }
}

.\!bg-card,
.bg-card {
  background-color: var(--card-bg);
}

.ant-segmented-group {
  flex-wrap: nowrap;
  gap: 8px !important;
  font-size: 14px !important;
  color: var(--text-color) !important;
}

.ant-segmented-item-selected {
  font-weight: 700 !important;
}

.ant-segmented-item-label {
  min-height: auto !important;
  line-height: normal !important;
  padding: 10px 16px !important;
}

.ant-empty-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-breadcrumb ol li:last-child .ant-breadcrumb-link {
  font-weight: 700 !important;
}

.ant-empty-description {
  font-weight: 700 !important;
}

.evaluate {
  border-radius: 12px !important;
  width: 48px !important;
  height: 48px !important;
  border-inline-start-width: 1px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.evaluate.ant-radio-button-wrapper-checked {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.evaluate::before {
  display: none !important;
}

.checkbox-group:not(.\!grid) {
  display: flex !important;
  justify-content: space-between !important;
  gap: 1rem;
  max-width: 1024px !important;
  @media (max-width: 767.98px) {
    flex-direction: column !important;
  }
}

.checkbox-group .ant-radio-wrapper,
.checkbox-group .ant-checkbox-wrapper {
  padding: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  flex: 1 !important;
  transition: all 0.2s;
  margin: 0;
}
.checkbox-group .ant-radio-wrapper:not(.ant-radio-wrapper-disabled):hover,
.checkbox-group
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover {
  border-color: var(--primary-color);
}

.checkbox-group .ant-radio-wrapper-checked,
.checkbox-group .ant-checkbox-wrapper-checked {
  background-color: color-mix(
    in srgb,
    var(--primary-color) 50%,
    transparent
  ) !important;
  border-color: var(--primary-color) !important;
  opacity: 1 !important;
}

.ant-input-disabled,
.ant-picker-disabled,
.ant-form-item input[disabled],
.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-disabled.ant-select-multiple
  .ant-select-selection-overflow
  .ant-select-selection-item {
  color: #6b7280 !important;
}

.ant-radio-wrapper-checked,
.ant-checkbox-wrapper-checked {
  color: var(--text-color) !important;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-steps .ant-steps-item-title {
  line-height: normal;
}
.register-steps .ant-steps-item-title {
  font-weight: 500 !important;
}
.ant-steps-finish-icon {
  color: var(--background-color) !important;
}

.ant-otp-input {
  max-width: 50px;
  max-height: 50px;
}

@media (max-width: 767.98px) {
  .ant-upload-list-item-name {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 100px !important;
  }
}

body:has(.floating-bar) {
  .dashboard-menu {
    position: relative;
    z-index: 1;
  }
}

/* winners-wrapper */
.winners-wrapper {
  @media (min-width: 640px) {
    .winner-card.active .winner-rank {
      font-size: 56px;
    }
    .winner-card .winner-rank {
      min-width: 34px;
      text-align: center;
    }
    /* .winner-card:not(.active) .winner-img{
      max-width: 48px;
      max-height: 48px;
    } */
  }

  .grid .winner-card:nth-child(1) {
    background-color: #fff0e6;
  }
  .grid .winner-card:nth-child(1) .winner-rank {
    background: linear-gradient(
      180deg,
      #f9e58f 0%,
      #ffd27c 49.76%,
      #ffaa54 100%
    );
  }
  .grid .winner-card:nth-child(2) {
    background-color: #e1f7f6;
  }
  .grid .winner-card:nth-child(2) .winner-rank {
    background: linear-gradient(
      180.14deg,
      #77fdfd 9.54%,
      #41f5f1 55.46%,
      #27dbd7 99.88%
    );
  }
  .grid .winner-card:nth-child(3) {
    background-color: #f0efff;
  }
  .grid .winner-card:nth-child(3) .winner-rank {
    background: linear-gradient(
      180deg,
      #dcd1ff 12.46%,
      #bdb2ff 56.18%,
      #9e93ff 100%
    );
  }
  .grid .winner-card.active .winner-rank {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* custom sidebar style */
.dashboard-menu {
  border-inline-end: none !important;
}
.dashboard-menu.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  border-radius: 16px;
  background-color: transparent;
}

/* plugins override */

.reply-box {
  #sendBtn {
    font-size: 24px !important;
  }
}

.react-tel-input {
  .form-control {
    border-radius: 8px !important;
    height: 48px !important;
    border-color: #d9d9d9 !important;
    outline: 0 !important;
    transition: all 0.2s;
    font-size: 16px !important;
  }
  .form-control:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
  }
  .flag-dropdown {
    border-radius: 0px !important;
    border-start-start-radius: 8px !important;
    border-end-start-radius: 8px !important;
    border-color: #d9d9d9 !important;
  }
  .flag-dropdown,
  .selected-flag {
    background-color: #f5f5f5 !important;
  }
  .flag-dropdown {
    padding: 0 !important;
  }
  .selected-flag {
    padding: 0 !important;
    padding-inline-start: 8px !important;
    border-radius: inherit !important;
  }
  .selected-flag .arrow {
    left: auto;
    right: auto;
    inset-inline-start: 20px;
  }
  .form-control {
    padding: 0 48px !important;
  }
}

/* site styles */
.site_content {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #161616;
  .container {
    margin: 0 auto;
    max-width: calc(1280px - 1rem);
    padding-inline: 1rem;
  }
  .site_footer {
    margin-top: auto;
  }
}

.dark .site_content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.site_header {
  height: 72px;
  border-bottom: 1px solid #d2d6db;
  position: relative;
  top: 0;
  .dynamic-logo {
    max-height: 72px;
    padding: 8px 0;
  }
}
.swiper-pagination-bullet {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-inactive-color: #e5e7eb;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  opacity: 1 !important;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.site_tabs_style {
  .ant-tabs-nav::before {
    display: none;
  }

  .ant-tabs-nav {
    margin-bottom: 1.5rem;
  }

  .ant-tabs-tab {
    font-weight: 500;
    color: #384250;
    flex-shrink: 0;
  }
  & > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 3px;
  }
}
.site_breadcrumb_style {
  color: #9da4ae;
  font-size: 14px;
  a {
    color: #9da4ae;
  }
  ol li:last-child .ant-breadcrumb-link {
    font-weight: 400 !important;
  }
}
.rich_text_area {
  ol,
  ul,
  menu {
    list-style: auto;
    padding: revert;
  }
}
.service-details-section {
  .side-box:not(:has(.info-item)) {
    display: none !important;
  }
  .side-box .info-group:not(:has(.info-item)) + .divider-row {
    display: none !important;
  }
}

/* ant design form elements override */

.ant-picker-dropdown
  .ant-picker-panel-rtl
  .ant-picker-time-panel
  .ant-picker-content {
  direction: rtl !important;
}
.ant-picker-dropdown:has(.ant-picker-date-panel-container) {
  max-width: 100%;
  min-width: auto !important;
}
.ant-picker-panel-container .ant-picker-date-panel {
  width: 440px !important;
}
@media not (min-width: 480px) {
  .ant-picker-panel-container .ant-picker-date-panel {
    width: auto !important;
  }
  [dir="rtl"]
    .ant-picker-panel-container
    .ant-picker-date-panel
    .ant-picker-content
    thead
    th {
    transform: rotate(-45deg);
    vertical-align: text-top;
  }
}

.modal-filters-datepicker-dropdown {
  position: absolute !important;
  inset: auto !important ;
  top: 0 !important;
  left: auto !important;
  right: auto !important;
  inset-inline-start: 0 !important;
  z-index: 1050 !important;
}

.inline-calender {
  .ant-picker-calendar-header {
    justify-content: center;
    .ant-select-dropdown {
      width: auto !important;
      min-width: 200px !important;
    }
  }
  .ant-picker-cell-selected {
    pointer-events: none;
  }
  .ant-picker-calendar-mode-switch {
    display: none !important;
  }
}

.ant-select:not(.ant-select-multiple) .ant-select-selection-item,
.ant-select.ant-select-multiple
  .ant-select-selection-item
  .ant-select-selection-item-content {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal !important;
}

.ai-item-enhanced .ant-input,
.ai-item-enhanced .ant-select-selector{
  border-style: dashed !important;
}
.ai-item-enhanced:not(.ant-form-item-has-error) .ant-input,
.ai-item-enhanced:not(.ant-form-item-has-error) .ant-select-selector{
  border-color: var(--primary-color) !important;
}


/*** dark mode override ***/
.dark {
  /*** tailwind colors ***/

  /* secondary card  */
  .bg-\[\#F9FAFB\],
  .bg-\[\#f9fafb\],
  .bg-\[\#F2F3F6\],
  .bg-\[\#F2F4F7\],
  .bg-\[\#EAECF0\],
  .bg-\[\#F6F7F9\] {
    background-color: var(--card-secondary-bg) !important;
    border-color: var(--card-secondary-bg) !important;
  }

  /* main text  */
  .text-\[\#5B656A\] {
    color: #fff !important;
  }

  /* sub texts / icons  */
  .text-\[\#667085\],
  .text-\[\#626262\],
  .text-\[\#667084\],
  .text-\[\#98A1B2\],
  .text-\[\#98A2B3\],
  .text-\[\#808898\],
  .text-\[\#586368\],
  .text-\[\#112838\],
  .text-gray-400,
  .text-gray-500,
  .text-gray-600 {
    color: #b1b1b1 !important;
  }

  /* gray tag */
  .bg-\[\#F3F4F6\] {
    background-color: var(--input-bg);
  }
  .border-\[\#DEE1E6\],
  .border-\[\#D2D6DB\] {
    border-color: var(--input-bg);
  }
  .text-\[\#626262\].bg-\[\#F6F7F9\] {
    color: var(--text-color) !important;
  }

  /* main cards */
  .dashboard-card {
    background-color: var(--card-bg);
  }
  .bg-card {
    border-color: var(--card-bg);
  }

  /* buttons */
  .ant-btn-color-default {
    box-shadow: none;
  }
  button.\!bg-\[\#F3F4F6\] {
    background-color: var(--input-bg) !important;
  }

  /* secondary card */
  .dashboard-card[class*=" bg-"],
  .dashboard-card[class^="bg-"] {
    background-color: var(--card-secondary-bg) !important;
  }

  /* landing page */
  .site_tabs_style {
    .ant-tabs-tab {
      color: #fff;
    }
  }

  /* form elements */
  .checkbox-group .ant-radio-wrapper,
  .checkbox-group .ant-checkbox-wrapper,
  .ant-upload-wrapper .ant-btn {
    border-color: var(--input-bg);
  }
  .ant-upload-wrapper.bg-\[\#F2F4F7\] {
    background-color: var(--input-bg) !important;
  }
  .ant-input-disabled,
  .ant-picker-disabled,
  .ant-form-item input[disabled],
  .ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector,
  .ant-radio-wrapper-disabled:not(.ant-radio-wrapper-checked),
  .ant-radio-button-wrapper-disabled,
  .ant-checkbox-wrapper-disabled:not(.ant-checkbox-wrapper-checked),
  .ant-select-disabled.ant-select-multiple
    .ant-select-selection-overflow
    .ant-select-selection-item {
    color: #b1b1b1 !important;
  }
  .ant-divider {
    border-color: var(--input-bg) !important;
  }
  .react-tel-input .form-control {
    background-color: var(--input-bg) !important;
    border-color: var(--input-bg) !important;
  }
  .react-tel-input .flag-dropdown,
  .react-tel-input .selected-flag {
    background-color: var(--card-secondary-bg) !important;
    border-color: var(--card-secondary-bg) !important;
  }
  .react-tel-input .country-list .search,
  .react-tel-input .country-list {
    background-color: #1f1f1f;
  }
  .react-tel-input .country-list .search-box {
    color: var(--text-color);
  }
  .react-tel-input .country-list .country.highlight,
  .react-tel-input .country-list .country:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
  input:-webkit-autofill:not(:hover):not(:focus):not(:active) {
    -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset !important;
    -webkit-text-fill-color: var(--text-color);
  }
}
